<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ItcastTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.levi.servletajax.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDemo1</display-name>
    <servlet-name>AjaxDemo1</servlet-name>
    <servlet-class>com.levi.servletajax.AjaxDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDemo1</servlet-name>
    <url-pattern>/AjaxDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDemo2</display-name>
    <servlet-name>AjaxDemo2</servlet-name>
    <servlet-class>com.levi.servletajax.AjaxDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDemo2</servlet-name>
    <url-pattern>/AjaxDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDemo4</display-name>
    <servlet-name>AjaxDemo4</servlet-name>
    <servlet-class>com.levi.servletajax.AjaxDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDemo4</servlet-name>
    <url-pattern>/AjaxDemo4</url-pattern>
  </servlet-mapping>
</web-app>